<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>Profile page</h3>
		</div>
	</div>
	<div class="row">
		<div id="profile" class="col-xs-12"></div>
	</div>
	<div class="row">
		<div id="userOptions" class="col-xs-12"></div>	
	</div>
</div>
