<div class="row">
	<div class="col-xs-12 col-md-6">
		<label for="username">Username: </label>
	</div>
	<div class="col-xs-12 col-md-6">
		<input type="text" id="username" name="username" value="abcd@avenuecode.com">
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6"> 
		<label for="password">Password: </label>
	</div>
	<div class="col-xs-12 col-md-6">
		<input type="password" id="password" name="password" value="aa12345"> 
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button id="submitbutton">Login!</button>
	</div>
</div>