<div class="row">
	<div class="col-xs-12">
		<div class="userlist-item">
			<div class="row">
				<div class="col-xs-4"><img src="{{image}}" class="img-user"></div>
				<div class="col-xs-8">
					<div class="row">
						<div class="col-xs-12">{{name}}</div>
						<div class="col-xs-12">
							<button id='addFriend' class="btn hide"> Add Friend </button>
							<button id='waitingApproval' class="btn hide"> Waiting Approval</button>
							<button id='acceptRequest' class="btn hide"> Accept Request</button>
							<span id='friendDisclaimer' class="hide"> {{name}} Is your friend!</span>
						</div>	
					</div>	
				</div>
			</div>
			
		</div>	
	</div>
	
</div>