<div class="row user-profile">
	<div class="col-xs-4 user-profile-img">
		<img src="{{image}}" alt="" class="img-user">
	</div>
	<div class="col-xs-8">
		<div class="col-xs-12 user-profile-name">
			{{name}}
		</div>
		<div class="col-xs-12 user-profile-name">
			{{email}}
		</div>
	</div>
</div>